body{
	text-align:center;
}

h2{
	border-bottom:solid 1px #333333;
}

#map{
	margin-left:auto;
	margin-right:auto;
	width:10em;
}
#map table{
	font-size:24px;
}
#map table td{
	margin:4px;
}

.blue{
	background-color:#99ccff;
}
.red{
	background-color:#ff0099;
}

#box{
	margin:4px;
	clear:both;
}
#box p{
	font-size:24px;
}